[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "<2.0,>=1.4"

[dev-packages]
alembic = "<1.11,>=1.7"
faker = "*"
ipdb = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.13"
